@import url('https://fonts.googleapis.com/css2?family=Philosopher:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box
}

.container{
    max-width: 1200px;
    margin: 0 auto;
}

h1, h2, h3, h4, h5, h6{
    font-family: "Playfair Display", serif;
}

h1, h2, h3, h4, h5, h6, p{
    margin: 0 0 15px;
}

img{
    max-width: 100%; height: auto;
}

a{
    text-decoration: none;
}

body{
    font-family: -apple-system, system-ui, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
}

.cream-bg{
    background-color: #fff9f3;
}
.header-wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo{
    width: 100px;
}
.header{
    border-bottom: 1px solid #e6e1e2;
}
.menu ul{
    display: flex;
    list-style: none;
}
.menu a{
    color: #17134a;
    display: block;
    padding: 25px 15px;
}
.header-btns a{
    color: #3a2fba;
    display: inline-block;
    padding: 10px 15px;
}
a.sign-up-btn{
    border: 1px solid;
    border-radius: 5px;
}

.hero-text{
    text-align: center;
    margin-top: 68px;
}
.hero-text h1{
    font-size: 67px;
    color: #17134a;
    line-height: 69px;
    margin-bottom: 35px;
}
.hero-text h2{
    font-family: inherit;
    font-weight: 400;
    color: #45426e;
    margin-bottom: 30px;
}
.hero-text ul{
    display: flex;
    justify-content: center;
    list-style: none;
    margin-bottom: 34px;
}
.hero-text ul svg{
    width: 20px;
    color: #3a2fba;
    margin-right: 6px;
}
.hero-text ul li{
    margin: 0 14px;
    display: flex;
    align-items: center;
}

.hero-try-btn{
    background-image: url(/assets/img/try-btn-bg-img.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 385px;
}
.hero-try-btn a{
    background-color: #3a2fba;
    display: inline-flex;
    color: #fff;
    align-items: center;
    padding: 20px 40px;
    border-radius: 5px;
    font-size: 20px;
    font-weight: 500;
}
.hero-try-btn svg{
    width: 9px;
    margin-left: 10px;
}
.featured-img{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 50px 0;
}
.featured-img img{
    max-height: 35px;
    margin: 0 20px;
}

.intro-video, .intro-video video{
    border-radius: 20px;
}
.intro-video video{
    max-width: 100%;
}
.intro-video{
    border: 20px solid #ede8e9;
    max-width: 85%;
    margin: 0 auto;
}
.extra-bg{
    padding-bottom: 200px;
}
.employee-section{
    display: flex;
    justify-content: space-between;
    margin-top: -10%;
    background-color: #ffff;
    border-bottom: 1px solid rgb(230, 230, 236);
    margin-bottom: 20px;
    
}
.employee-single{
    text-align: center;
    padding-top: 20px;
    padding-bottom: 30px;
    padding-left: 30px;
    padding-right: 30px;
}
.title{
    width: 340px;
    font-size: 18px;
    line-height: 27px;
}

.employee-single p .bold-text{
    font-weight: 700;
    color: rgb(69, 66, 110);
    background-color: rgb(252, 242, 222);
}
p.name{
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 1px;
    margin-top: -5px;
}
span.designation{
    font-size: 14px;
    font-weight: 400;
}

.employee-single img{
    width: 60px;
    height: 60px;
    margin-bottom: 15px;
    border-radius: 50%;
}

h2.company-title {
    text-align: center;
    font-size: 20px;
    font-weight: 600;
    color: rgb(23, 19, 74);
    margin-top: 50px;
    margin-bottom: 30px;
    font-family: -apple-system, system-ui, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
}

.company-logo {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 80px;
}
.company-logo img{
    filter: grayscale(1);
}
.img-1{
    width: 95px;
    height: 40px;
}
.img-2{
    width: 40px;
    height: 40px;
}
.img-3{
    width: 90px;
    height: 40px;
}
.img-4{
    width: 40px;
    height: 40px;
}
.img-5{
    width: 84px;
    height: 40px;
}
.img-6{
    width: 161px;
    height: 40px;
}
.img-7{
    width: 40px;
    height: 40px;
}
.img-8{
    width: 161px;
    height: 16px;
}

.service-card-section{
    display: flex;
    padding: 40px;
}
.service-bg{
    background-color: #fff9f3;
    border-radius: 5px;
}

.service-title{
    font-family: "Philosopher", serif;
    font-size: 50px;
    font-weight: 700;
    line-height: 50px;
    color: rgb(23, 19, 74);
}
.section-detail{
    font-size: 20px;
    color: rgb(69, 66, 110);
    margin-top: 20px;
    margin-bottom: 30px;
}
.section-list{
    display: flex;
}
.section-list h4{
    margin-top: -6px;
    margin-left: 5px;
    font-size: 18px;
    font-weight: 500;
    color: rgb(69, 66, 110);
    font-family: -apple-system, system-ui, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
}

.service-img{
    width:800px;
}

.first-img-text{
    font-size: 18px;
    font-weight: 400;
    color: rgb(69, 66, 110);
    text-align: center;
}
.first-img-text span{
    font-style: italic;
}

.try-dorik-now-btn a {
    background-color: #3a2fba;
    display: inline-flex;
    color: #fff;
    align-items: center;
    padding: 15px 25px;
    border-radius: 5px;
    font-size: 16px;
    font-weight: 500;
}

.try-dorik-now-btn svg {
    width: 10px;
    margin-left: 10px;
}
.try-dorik-now-btn{
    margin-top: 20px;
    margin-bottom: 20px;
}
.service-info{
    margin-right: 40px;
}

hr {
    width: 93%;
    margin: auto;
    border: 1px solid #e6e1e1;
}

.you-get-option{
    display: flex;
    justify-content: space-between;
    padding: 40px;
}

.you-get-title{
    font-size: 20px;
    font-weight: 600;
    color: rgb(23, 19, 74);
    font-family: -apple-system, system-ui, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
    margin-top: 15px;
}
.you-get-detail{
    font-size: 18px;
    font-weight: 400;
    line-height: 27px;
    color: rgb(69, 66, 110);
    width: 350px;
}

.style-2{
    margin-top: 60px;
    background-color: #fdeff7;
}
.style-3{
    margin-top: 60px;
    background-color: #f1faf7;
}
.style-4{
    margin-top: 60px;
    background-color: #eeebfa;
}


.join-section{
    display: flex;
    justify-content: space-between;
    padding: 30px;
    margin-top: 40px;
    margin-bottom: 30px;
}
.join-section-title {
    font-family: "Philosopher", serif;
    font-size: 60px;
    font-weight: 700;
    line-height: 60px;
    color: rgb(23, 19, 74);
    width: 500px;
    margin-top: 50px;
    margin-bottom: 30px;
}
.company-logo-wrapper{
    flex-wrap: wrap;
    row-gap: 30px;
    width: 500px;
}
.company-logo-wrapper img{
    filter: none;
}

.beautiful-element-section-bg{
    background-color: #030521;
}
.beautiful-element-section-container-padding{
    padding: 30px;
}
.beautiful-element-section-title{
    font-family: "Philosopher", serif;
    font-size: 60px;
    font-weight: 700;
    line-height: 60px;
    color: #ffff;
    width: 540px;
    margin-top: 90px;
    margin-bottom: 90px;
}

.beautiful-element{
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
}
.amazing-card{
    border: 1px solid #1d1e38;
    padding-left: 30px;
    padding-right: 120px;
    padding-top: 40px;
    padding-bottom: 20px;
    margin-bottom: 40px;
}
.beautiful-element-card-title{
    font-size: 24px;
    font-weight: 400;
    color: rgb(209, 208, 219);
    font-family: "Philosopher", serif;
}
.beautiful-element-card-detail{
    font-size: 18px;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.8);
}
.element-card{
    padding-right: 210px;
}

.all-project-show-section{
    background-color: #030521;
    object-fit: contain;
    width: 100%;
    min-width: 100%;
    max-width: 100%;
}
.maintenance-section-title {
    font-family: "Philosopher", serif;
    font-size: 60px;
    font-weight: 700;
    line-height: 60px;
    color: rgb(23, 19, 74);
    margin-top: 50px;
    margin-bottom: 30px;
    text-align: center;
}
.maintenance-section-details{
    font-size: 24px;
    text-align: center;
    color: rgb(69, 66, 110);
    margin-top: 20px;
    margin-bottom: 55px;
}

.maintenance-card {
    display: flex;
    justify-content: space-between;
    padding: 40px;
}

.maintenance-card-title {
    font-size: 24px;
    font-weight: 700;
    color: rgb(23, 19, 74);
    font-family: -apple-system, system-ui, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
    margin-top: 15px;
    width: 300px;
}

.maintenance-card-detail {
    font-size: 18px;
    font-weight: 400;
    line-height: 27px;
    color: rgb(69, 66, 110);
    width: 350px;
    width: 340px;
}
.maintenance-colum-gap{
    margin-top: -40px;
}